* {
  margin: 0;
  padding: 0;
}

.main {
  color: #426696;
  font-style: italic;
  min-height: 100vh;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  transition: 0.5s all;
}

.blurBcg {
  filter: blur(10px);
}

.closeIcon {
  cursor: pointer;
  color: #b03b3b;
}
.errorModal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 35%;
  left: 35%;
  background-color: rgb(247, 242, 242);
  width: 35%;
  height: 35%;
  z-index: 3;
  border-radius: 5px;
  color: black;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s all;
}
.errorModal.showM {
  visibility: visible;
  opacity: 1;
}
.errorModalTop {
  flex: 1;
}
.errorModalMain {
  flex: 2;
  padding: 10px;
  display: flex;
  height: 100%;
  align-items: center;
  background-color: rgba(125, 112, 223, 0.295);
  justify-content: center;
  text-align: center;
}
.errorModalBottom,
.errorModalTop {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  padding: 10px 0;
}
.cancel,
.delete {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.cancel {
  background-color: #3bb077;
  color: #fff;
}
.delete {
  background-color: #b03b3b;
  color: #fff;
}

.glass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linen;
  min-height: 80vh;
  width: 80%;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(255, 255, 255, 0.467)),
    to(rgba(255, 255, 255, 0.3))
  );
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.467),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 30px;
  z-index: 2;
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
}

.circle1,
.circle2 {
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(255, 255, 255, 0.9)),
    to(rgba(255, 255, 255, 0.1))
  );
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.1)
  );
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 5%;
  right: 15%;
}

.circle2 {
  bottom: 5%;
  left: 15%;
}

.dashboard {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(255, 255, 255, 0.6)),
    to(rgba(255, 255, 255, 0.3))
  );
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 30px;
}

.dashboard .user {
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dashboard .user .userImg {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.dashboard .links {
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.dashboard .links .link {
  cursor: pointer;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
}

.dashboard .links .link .sidebarIcon {
  margin-right: 10px;
  font-size: 20px !important;
}

.dashboard .links .link:hover {
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(255, 255, 255, 0.6)),
    to(rgba(255, 255, 255, 0.3))
  );
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 30px;
}

.dashboard .logOut {
  width: 100%;
  text-align: center;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dashboard .logOut h3 {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  width: 60%;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(255, 255, 255, 0.6)),
    to(rgba(255, 255, 255, 0.3))
  );
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  );
}

.mainContent {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 30px;
  max-height: 600px;
  overflow-y: scroll;
}

.mainContentTitle {
  height: 10%;
  font-size: 50px;
  text-align: left;
  font-weight: bolder;
  margin-left: 15px;
}

.active {
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(rgba(255, 255, 255, 0.6)),
    to(rgba(255, 255, 255, 0.3))
  );
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 30px;
}

.sidebarIcon {
  margin-right: 10px;
  font-size: 40px !important;
}

table {
  width: 100%;
}

.idColumn {
  width: 20px;
}

th,
td {
  padding: 15px;
}

.productListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 5px;
}

.tableProduct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tableProduct span {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.tableBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
  font-size: 13px;
}

.addAction {
  cursor: pointer;
  color: #fff;
  align-self: center;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  border: none;
  padding: 5px;
  width: 50%;
  background-color: #3bb077;
}
.addAction:disabled {
  cursor: not-allowed;
}

.removeAction {
  width: 50%;
  cursor: pointer;
  color: #fff;
  align-self: center;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
  border: none;
  padding: 5px 10px;
  background-color: #b03b3b;
}

.mainContentTop {
  width: 100%;
  position: sticky;
  top: 0px;
  background: linear-gradient(to bottom rgba(255, 255, 255, 0.3), white);
  padding: 10px 0px;
}

.createNew {
  color: white;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: #3bb077;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  width: 100px;
}

.editProduct {
  color: white;
  text-align: center;
  top: 10px;
  border: none;
  background-color: #afad3c;
  right: 150px;
  position: absolute;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  width: 100px;
}

.searchInputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 300px;
  border: 1px solid #d6eeee;
}

.searchInput {
  border: none;
  outline: none;
}

.searchIcon {
  background: #d6eeee;
  padding: 10px;
}

.mainContentHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 77px;
  background: -webkit-gradient(linear, left top, left bottom, from(white));
  /* background: linear-gradient(to bottom rgba(255, 255, 255, 0.3), white); */
  z-index: 666;
}

tr:nth-child(even) {
  background-color: #d6eeee;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #d6d5d5;
}

::-webkit-scrollbar-thumb:hover {
  background: #afaeae;
}
/*# sourceMappingURL=products.css.map */

@media screen and (max-width: 480px) {
  .glass {
    font-size: 14px;
    display: flex;
    background: linen;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.467),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 30px;
    z-index: 2;
    backdrop-filter: blur(32px);
  }

  .dashboard {
    display: none;
  }

  .mainContentTitle {
    display: none;
    /* font-size: 30px; */
  }
  .searchInputContainer {
    left: 10px;
    width: 20%;
  }
  .searchInputContainer {
    width: 20%;
  }
  .searchInput {
    width: 100%;
  }
  .createNew {
    right: 10px;
    width: 20%;
    top: 80%;
  }
  .editProduct {
    right: clac(20%+20px);
    width: 20%;
    top: 80%;
  }
  .mainContentHeader {
    position: sticky;
    top: 40px;
    background: linear-gradient(to bottom rgba(255, 255, 255, 0.3), white);
  }
  .addAction,
  .removeAction {
    border: none;
    padding: 5px;
    width: 90%;
  }
  .mainContent {
    margin: 10px;
  }
  .mainRow {
    margin-top: 60px;
    top: 50px;
  }
}
@media screen and (max-width: 786px) {
  .glass {
    font-size: 14px;
    display: flex;
    background: linen;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.467),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 30px;
    z-index: 2;
    backdrop-filter: blur(32px);
  }

  .dashboard {
    display: none;
  }
  .mainContent {
    margin: 10px;
  }
  .dashboard,
  .editProduct {
    display: none;
  }

  .mainContentTitle {
    display: none;
    /* font-size: 30px; */
  }
  .searchInputContainer {
    left: 20px;
    width: 40%;
  }
  .searchInputContainer {
    width: 40%;
  }
  .searchInput {
    width: 100%;
  }
  .createNew {
    right: 20px;
    width: 30%;
    top: 80%;
  }
  .addAction,
  .removeAction {
    border: none;
    padding: 5px;
    width: 90%;
  }
  .mainContentHeader {
    position: sticky;
    top: 40px;
    background: linear-gradient(to bottom rgba(255, 255, 255, 0.3), white);
  }
  .mainRow {
    margin-top: 60px;
    top: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .glass {
    display: flex;
    background: linen;
    min-height: 90vh;
    width: 90%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.467),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 30px;
    z-index: 2;
    backdrop-filter: blur(32px);
  }
  .dashboard {
    border-radius: 30px;
  }
  .mainContentTitle {
    display: none;
  }
  .mainRow {
    margin-top: 60px;
    top: 50px;
  }
  .editProduct {
    display: none;
  }

  .addAction,
  .removeAction {
    border: none;
    padding: 5px;
    width: 90%;
  }
}
@media screen and (max-width: 1599px) {
  .mainContentTitle {
    display: none;
  }
  .mainRow {
    margin-top: 60px;
    top: 50px;
  }
}
